@font-face {
  font-family: 'Coolvetica';
  src: url('coolvetica.ttf') format('truetype');
}
@font-face {
  font-family: 'protocol';
  src: url('protocol.ttf') format('truetype');
}
@font-face {
  font-family: 'protocol-regular';
  src: url('protocol-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'protocol-thin';
  src: url('protocol-thin.ttf') format('truetype');
}
@font-face {
  font-family: 'bankgothic';
  src: url('bankgothic.ttf') format('truetype');
}
@font-face {
  font-family: 'grift';
  src: url('grift.otf') format('opentype');
}
@font-face { font-family: 'HelveticaNeueThin'; src: url('thin.ttf') format('truetype'); } 
* {
  font-family: 'protocol-thin';
	text-transform: uppercase;

}
body {
  
}
footer *{
  font-family: 'bankgothic';
}
.bg-asmr-img {
  box-shadow: black 2px 8px 10px;
  background-image: url("https://cdn.discordapp.com/attachments/761654967417176085/761656866437857320/bg.png");
  background-size: cover;
  background-position: center;
/*  filter: sepia(0.4) brightness(60%) contrast(110%);
-webkit-filter: sepia(0.4) brightness(60%) contrast(110%);*/
}
.latest-news {
	border:1px solid #FFA500;
	border-radius: 3px;
}
.newsbox {
	box-shadow: rgba(0,0,0,0.25) 0px 8px 10px;
	border:none;
	margin-left: 2.5px !important;
	margin-right: 2.5px !important;
	border-bottom: solid 2px #FFA500;
	color:white;
}


.latest-news *{
}
.latest-news *{
  font-family: 'bankgothic' !important;
  color: orange;
}
h1, h2, h3, h4, h5, h6, p {
	margin:0 !important;
	padding:0 !important;	
}
.back-darken {background-color: #16161D;}.back-dark {background-color: #1C1C24;}.back-yellow {background-color: #FFB32C;}.back-orange {background-color: #E67B2C;}
header {
  position: relative;
  background-color: #16161D;
  overflow: hidden;
}

header .overlayvideo {
filter: blur(1px) brightness(100%);
-webkit-filter: blur(1px) brightness(100%);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 60%;
  min-height: 60%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.mavbar-nav a {
	transition: 0.5s; 
}
.navbar-nav a:hover {
	color: #FFB32C !important;
	transition: 0.5s ease; 
}
.readmore {
	transform: skew(-15deg) translateY(-10%);
	transition: 0.5s;
}
.readmore:hover {
	transform: skew(-15deg) translateY(-25%) translateX(-1%);
	transition: 0.5s;
}
.readmore a{
	background-color: #F5AC2B;color: #1C1C24;
	transition: 0.5s;
}
.readmore a:hover {
	color: #ffffff;
	text-decoration: none;
	transition: 0.5s;
}
.aboutteam {
  transform: skew(-15deg);
  background: rgba(0,0,0,.6);
  transition: all 700ms ease;
 /* width: 500px;*/
}
.aboutteam:hover {
	transform: skew(-15deg) translateY(-5%) translateX(-1%);
	background-color: #F5AC2B;
}
.member {
  border-bottom: 1px solid white;
  transform: skew(0deg);
  background-color: rgba(0,0,0,0.2);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
  text-align: center;
  transition: 0.5s ease;
}
.member * {
 
}
.member img{
  transform: skew(0deg) !important;
}
.member .member_name {
  text-align: center;
  color: #222;
  background-color: #F5AC2B;
  background-image: linear-gradient(95deg, #ffdd00 0%, #F5AC2B 120%);
  box-shadow: 0px 1px 3px black;
  transition: 0.5s ease;
  border: 2px solid #F9D776;
}
.member .founder {
  text-align: center;
  color: #222;
  background-color: red;
  background-color: #f5d020;
  background-image: linear-gradient(0deg, #f5d020 0%, #f53803 115%);
  box-shadow: 0px 1px 3px black;
  transition: 0.5s ease;
  border: 2px solid #F9D776;
}
.member:hover {
  background-color: rgba(0,0,0,0.5);
  transition: 0.5s ease;
}
.member .member_social {
  vertical-align: middle;
  display: inline-block;
  color: white;
}
.role {
  color: red !important;
}
.member h6 {
  font-size: 12px;
  color: white;
}
.member span {
  color: orange;
}
.member .member_social a {
  color: white !important;
}

.fa-twitchx {
  color: #8C45F7;
}
.fa-twitterx {
  color: #1da1f2;
}
.fa-instagramx {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-youtube {
}
.slider {
  outline: none !important;
  max-width: 1000px;
  margin: 0 auto;
}
.slick-slide {
  outline: none !important;
  margin: 0 5px;
}
.slick-list {
  outline: none !important;
  margin: 0px -5px 0px -5px;
}
button.slick-next, button.slick-next:hover {
  outline: none !important;
  position: absolute;
  top: 41%;
  right: -25px;
  width: 47px;
  height: 75px;filter: invert(1);
  background-image: url("https://img.icons8.com/android/344/chevron-right.png");
  background-size: 65px 80px;
}
button.slick-prev, button.slick-prev:hover {
  outline: none !important;
  position: absolute;
  top: 41%;
  left: -25px;
  z-index: 1;
  width: 47px;
  height: 75px;
  background-image: url("https://img.icons8.com/android/344/chevron-left.png");
  background-size: 65px 80px;filter: invert(1);
  background-position-x: right;
}
.slick-prev:before, .slick-next:before {
  outline: none !important;
  font-size: 70px;
  color: #EA8496;
  line-height: inherit;
  font-weight: bold;
}

/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}


@charset 'UTF-8';
/* Slider */


/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@media screen and (min-width: 1400px) {
  .newsbox {
    width: 300px;
  }
}
@media screen and (min-width: 1600px) {
  .newsbox {
    width: 370px;
  }
}
@media screen and (min-width: 1900px) {
  .newsbox {
    width: 470px;
  }
}
@media only screen and (max-width: 768px) {
  
  h1,h2,h3,h4,h5,h6,p,strong,a,.copyright {
    font-size: 15px !important;
    font-weight: 5px;
  }
button.slick-next, button.slick-next:hover {
  outline: none !important;
  position: absolute;
  top: 40%;
  right: -25px;
  width: 15px;
  height: 25px;filter: invert(1);
  background-image: url("https://img.icons8.com/android/344/chevron-right.png");
  background-size: 20.5px 25px;
}
button.slick-prev, button.slick-prev:hover {
  outline: none !important;
  position: absolute;
  top: 40%;
  left: -25px;
  z-index: 1;
  width: 15px;
  height: 25px;
  background-image: url("https://img.icons8.com/android/344/chevron-left.png");
  background-size: 20.5px 25px;filter: invert(1);
  background-position-x: right;
}  
}

@media only screen and (max-width: 320px) {
  h1,h2,h3,h4,h5,h6,p,strong,a,.copyright {
    font-size: 10px !important;
    font-weight: 5px;
  }
}